//
// Global
//

//===============*
// Variables

// Fonts
$nm-serif: 'Vollkorn';
$nm-sans-serif: 'Maven Pro';

// Layout
$nm-standard-spacer: 1.5rem;

// Colors
// primary color defined in bootstrap-custom.scss to load before Bootstrap
$nm-secondary-hue: $nm-primary-hue + 45;
$nm-primary-secondary-average-hue: ($nm-primary-hue + $nm-secondary-hue) / 2;
$nm-primary-gradient: linear-gradient(
  154deg,
  hsl($nm-secondary-hue, 48%, 58%),
  hsl($nm-primary-hue, 49%, 36%));
$nm-black-50: hsla(0, 0%, 0%, 0.5);

//===============*
// General

// Stick main footer to the bottom
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: $nm-standard-spacer * 2;
  background: image_url('light_wool.png');
  font-size: 1.1rem;
  font-family: $nm-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.01em; // "em" for proportional scaling
  font-family: $nm-sans-serif;
}

img {
  max-width: 100%;
}

a {
  transition: .3s;
}

hr {
	height: 2px;
	border: none;
	border-radius: 2px;
  background: $nm-primary-gradient;
	box-shadow: 0 0 3px hsla($nm-primary-secondary-average-hue, 100%, 63%, .5);
}

.btn {
  white-space: normal;
  font-size: 100%;
  font-family: $nm-sans-serif;
  cursor: pointer;
}

//===============*
// Layout

.nm-width-md {
  max-width: 768px;
}

//---------------*
// Sections

.nm-section-plain, .nm-section-box {
  margin: 0 auto $nm-standard-spacer;
  padding: $nm-standard-spacer;
}

// Section box

.nm-section-box {
  overflow: hidden;
  background: hsla($nm-primary-hue, 100%, 50%, .03);
  box-shadow:
    0 0 7px hsla($nm-primary-hue, 80%, 83%, 0.25),
    0 0 2px hsla($nm-primary-hue, 80%, 83%, 0.4) inset;
}

@include media-breakpoint-up(sm) {
  .nm-section-box {
    border: 1px solid hsl($nm-primary-hue, 80%, 94%);
    border-radius: 1.2rem;
  }
}

@include media-breakpoint-down(xs) {
  .nm-section-box:first-child {
    margin-top: 0;
  }
}

//===============*
// Navigation

.navbar {
  background: image_url('stardust-2.png');
  box-shadow:
    // Upper-inner
    0 15px 60px -10px $nm-black-50 inset,
    // Lower-outer
    0 0  2px $nm-black-50,
    0 0 20px $nm-black-50;
  font-family: $nm-sans-serif;
}

.navbar-dark .navbar-brand {
  color: hsl($nm-primary-hue, 100%, 88%);
	text-shadow: 0 0 1px;
	font-size: 1.5rem;

  &:hover {
  	text-shadow: 0 0 3px;
  }
}

@include media-breakpoint-up(md) {
    .navbar {
      z-index: 1;
      height: 70px;
  }
}

.navbar-dark .nav-link {
	color: hsla(0, 0%, 100%, 0.4);
  text-shadow: 0 0 3px hsla(0, 0%, 100%, 0.2);
}

//===============*
// Main Content

.nm-main-content {
  overflow: hidden;
  padding-bottom: $nm-standard-spacer * 4;
}

@include media-breakpoint-up(sm) {
  .nm-main-content {
    padding-top: $nm-standard-spacer;
  }
}

@include media-breakpoint-down(xs) {
  .nm-main-content {
    padding-right: 0;
    padding-left: 0;
  }
}

//===============*
// Main Footer

.nm-main-footer {
  position: absolute;
  bottom: 0;
  margin-top: $nm-standard-spacer;
  width: 100%;
  height: $nm-standard-spacer * 2;
  background: $nm-primary-gradient;
  box-shadow:
    0 0  3px hsla($nm-primary-secondary-average-hue, 50%, 50%, 0.9),
    0 0 40px hsla($nm-primary-secondary-average-hue, 50%, 50%, 0.6);
  opacity: .75;
}

//===============*
// Modules

//---------------*
// Forms, general

form, input {
  font-family: $nm-sans-serif;
}

abbr[title="required"] {
  // Undo unnecessary decorations to the "required" asterisk
	text-decoration: inherit;
	cursor: inherit;
}

.form-actions {
  margin-top: .5rem;
}

.form-control {
	background-color: hsla(0, 0%, 100%, 0.3);
}

// Error messages

.invalid-feedback {
  // Override small font size (80%) set by Bootstrap
  font-size: inherit;
}

//---------------*
// Alert

.alert {
  font-family: $nm-sans-serif;
}

//---------------*
// Modal

.modal-content {
  box-shadow: 0 0 30px hsla(0, 0%, 0%, 0.2);
}

.modal-backdrop {
	background: hsl($nm-primary-hue, 36%, 70%);
}

.modal-backdrop.show {
	opacity: 0.95;
}

//===============*
// Devise authentication form

.nm-devise-view {
  max-width: 100%;
  width: 24rem;

  & > h2,
  & .simple_form {
    margin-bottom: $nm-standard-spacer;
  }
}

.nm-devise--shared-links {
  // Justify the links horizontally
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
  font-family: $nm-sans-serif;
}
