//
// Comments
//

//===============*
// Place show

//---------------*
// Comment list

@include media-breakpoint-up(md) {
  .nm-place-comment-list-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

//---------------*
// New comment modal and form

.nm-new-comment-modal-rating {
  float: left;

  & select {
    width: 9rem;
  }
}

.nm-new-comment-modal-footer {
  float: right;
  border: none;
}

//===============*
// Comment item

.nm-comment-item {
  position: relative;
  margin-top: $nm-standard-spacer;
  padding: 1rem $nm-standard-spacer;
  border-left: 10px solid hsl($nm-primary-hue, 100%, 88%);
  border-radius: 4px;
  background: hsla($nm-primary-hue, 100%, 50%, 0.04);
  box-shadow:  0 0 3px hsl($nm-primary-hue, 100%, 88%);
  quotes: '\201C' '\201D' '\2018' '\2019';
}

.nm-comment-item::before,
.nm-comment-item::after {
  position: absolute;
  z-index: -1;
  color: hsla($nm-primary-hue, 100%, 50%, 0.06);
  font-size: 11em;
  line-height: 1;
}

.nm-comment-item::before {
  top: -0.5rem;
  left: 0.2rem;
  margin-top: -0.3rem;
  content: open-quote;
}

.nm-comment-item::after {
  right: 0.2rem;
  bottom: -0.5rem;
  height: 3rem;
  content: close-quote;
}

.nm-comment-rating::after {
	content: ' \2014';
}

.nm-comment-email {
  margin-bottom: 0;
}

.nm-comment-email::before {
	content: '\2014  '
}

//===============*
// User Profile (My Profile) (show)


.nm-user-comment-item-outer {
	margin-top: 1.5rem;
}
.nm-user-comment-item-place {
	font-size: 113%;
}

.nm-user-place-item {
	margin-top: $nm-standard-spacer;
}
