//
// Index (a Places view)
//

//===============*
// Slider

.nm-index-slider:not(.nm-slider-is-fullscreen) .nm-photo-slide--img-outer {
	box-shadow:
		0 0  3px,
		0 0 20px;
}

@include media-breakpoint-up(md) {
	.nm-index-slider {
		height: calc(400px + #{$nm-photo-slide--subtract-height});
	}
}

@include media-breakpoint-down(sm) {
	.nm-index-slider {
		padding-bottom: calc(75% + #{$nm-photo-slide--subtract-height});
	}
}

@include media-breakpoint-down(xs) {
	.nm-index-slider {
		padding-bottom: calc(75% + #{$nm-photo-slide--subtract-height + 1});
	}
}

//===============*
// Place

.nm-index-place,
.nm-index-photo--featured {
	padding: 0;
}

.nm-index-place {
	min-height: 18rem;
}

.nm-index-photo--img {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 1px;

	object-fit: cover;
}

.nm-index-place--text {
	padding: 1.5rem;
}

//---------------*
// Pagination links
// Make the previous and next buttons stay on the same spot

.pagination {
  min-width: 15rem;
}

.page-item.disabled {
  flex-grow: 1;
  text-align: center;
}
