//
// Photos
//

//===============*
// New and edit views

.nm-file-upload-input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}

//===============*
// Edit view

.nm-edit-photo-preview {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 100%;
  border: 1px solid hsl(210, 14%, 83%);
  border-radius: $border-radius;
  background-color: hsl(210, 16%, 93%);
}
