//
// Places
//

//===============*
// Index view

//---------------*
// Slider

.nm-index-slider:not(.nm-slider-is-fullscreen) .nm-photo-slider-item-img-outer {
	box-shadow:
		0 0  3px,
		0 0 20px;
}

@include media-breakpoint-up(md) {
	.nm-index-slider {
		height: calc(400px + #{$nm-photo-slider-subtract-height});
	}

	.nm-photo-slider-item-caption {
		text-align: center;
	}
}

@include media-breakpoint-down(sm) {
	.nm-index-slider {
		padding-bottom: calc(75% + #{$nm-photo-slider-subtract-height});
	}
}

@include media-breakpoint-down(xs) {
	.nm-index-slider {
		padding-bottom: calc(75% + #{$nm-photo-slider-subtract-height + 1});
	}

	.nm-photo-slider-item-img-outer {
		height: calc(100% - #{$nm-photo-slider-caption-height + 1});
	}

	.nm-photo-slider-item-caption {
	  height: $nm-photo-slider-caption-height + 1;
	}

}

//---------------*
// Place

.nm-index-place,
.nm-index-photo-featured {
	padding: 0;
}

.nm-index-photo-img {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 1px;

	object-fit: cover;
}

.nm-index-place-text {
	padding: 1.5rem;
}

// Pagination links
// Make the previous and next buttons stay on the same spot

.pagination {
  min-width: 15rem;
}

.page-item.disabled {
  flex-grow: 1;
  text-align: center;
}

//===============*
// Single view

.nm-place-slider {
	padding-bottom: 64%;
}

#nm-google-map {
  width: 100%;
  height: 300px;
  border-radius: $border-radius;
	box-shadow: 0 0 1px;
}

.nm-place-footer {
  margin-top: $nm-standard-spacer;
}

.nm-place-footer .btn {
	margin-right: 3px;
}

.nm-footer-place-credit {
  font-size: 85%;
}

@include media-breakpoint-up(sm) {
  .nm-place-footer {
    display: flex;
    align-items: baseline;
  }

  .nm-footer-place-credit {
    flex-grow: 1;
    text-align: right;
  }
}

@include media-breakpoint-down(xs) {
  .nm-footer-place-credit {
    margin-top: 1rem;
  }
}

//===============*
// Edit view

#place_description {
  height: 7.2rem;
}
