//
// Places
//

//===============*
// Single view

//---------------*
// Slider

.nm-place-slider {
	padding-bottom: 64%;
}

//---------------*
// Google Map

#nm-google-map {
	margin-top: $nm-standard-spacer;
  width: 100%;
  height: 300px;
  border-radius: $border-radius;
	box-shadow: 0 0 1px;
}

//---------------*
// Footer

.nm-place-footer {
  margin-top: $nm-standard-spacer;
}

.nm-place-footer .btn {
	margin-right: 3px;
}

.nm-place-footer--credit {
  font-size: 85%;
}

@include media-breakpoint-up(sm) {
  .nm-place-footer {
    display: flex;
    align-items: baseline;
  }

  .nm-place-footer--credit {
    flex-grow: 1;
    text-align: right;
  }
}

@include media-breakpoint-down(xs) {
  .nm-place-footer--credit {
    margin-top: 1rem;
  }
}

//---------------*
// New comment modal and form

.nm-comment-new--modal-rating {
  float: left;

  & select {
    width: 9rem;
  }
}

.nm-comment-new--modal-footer {
  float: right;
  border: none;
}

//---------------*
// Comment list

@include media-breakpoint-up(md) {
  .nm-place-comments--header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

//===============*
// Edit view

#place_description {
  height: 7.2rem;
}
