//
// User show view - "My Profile" page
//

//===============*
// User info

.nm-user-info {
	position: relative;
}

.nm-user-info::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 1.5rem;
	height: 100%;
	background: $nm-primary-gradient;
	box-shadow: 0 0 2px hsl($nm-primary-secondary-average-hue, 48%, 38%);
	content: '';
	opacity: 0.75;
}

.nm-user-info--identity {
	display: flex;
	align-items: center;
	justify-content: center;
  min-height: 100%;
}

.nm-user-info--avatar {
	background: $nm-primary-gradient;
	-webkit-background-clip: text;
	background-size: 100%;
	font-size: 8rem;
	filter: drop-shadow(0 0 1px hsl($nm-primary-secondary-average-hue, 50%, 50%));

	-webkit-text-fill-color: transparent;
}

.nm-user-info--email {
	width: 100%;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 115%;
}

.nm-user-info--stats {
	text-align: center;
	font-size: 120%;
}

//===============*
// Comments

.nm-user-comment {
	margin-top: 1.5rem;
}

.nm-user-comment--place-name {
	font-size: 113%;
}

//===============*
// Places

.nm-user-place {
	margin-top: $nm-standard-spacer;
}
