@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500');
@import "bootstrap";
@import "font-awesome";

// Fonts
$nm-serif: 'Vollkorn';
$nm-sans-serif: 'Maven Pro';


// General

body {
  background: image_url('light_wool.png');
  font-family: $nm-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.01em; // "em" for proportional scaling
  font-family: $nm-sans-serif;
}

.btn {
  cursor: pointer;
}

// Navigation

.navbar {
  background: image_url('stardust.png');
  box-shadow:
    // Upper-inner
    0 2px 3px hsla(243, 24%, 21%, 0.25) inset,
    0 15px 60px -10px hsla(243, 22%, 5%, 0.5) inset,
    // Lower-outer
    0 0 2px,
    0 0 20px;
  font-family: $nm-sans-serif;
}

.navbar-inverse .navbar-brand {
  color: hsl(242, 100%, 88%);
	text-shadow: 0 0 1px;
	font-size: 1.5rem;

  &:hover {
  	text-shadow: 0 0 3px;
  }
}

// Main Content

.nm-main-content {
	overflow: auto; // Fix first child's top margin "sticking out"
}


//========
// Modules

// Alert

.alert {
  font-family: $nm-sans-serif;
}

// Section box

.nm-section-box {
  margin: 1rem auto;
  padding: 1.5rem;
  min-height: 18rem;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  background: #fff;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

// Place item

.nm-place-item { @extend .nm-section-box ; }

// Pagination links
// Make the previous and next buttons stay on the same spot

.pagination {
  min-width: 15rem;
}

.page-item.disabled {
  flex-grow: 1;
  text-align: center;
}

// Forms

form, input {
  font-family: $nm-sans-serif;
}

abbr[title="required"] {
  // Undo unnecessary decorations to the "required" asterisk
	cursor: inherit;
	text-decoration: inherit;
}

// Forms in Devise views

.nm-devise-view { @extend .nm-section-box ; }

.nm-devise-view {
  width: 24rem;
  max-width: 100%;

  & > h2,
  & .simple_form {
    margin-bottom: 1.5rem;
  }

}

.form-actions {
  margin-top: .5rem;
}

// Error messages

.invalid-feedback {
  padding: .1rem $input-padding-x;
  border-width: 0 1px;
  border-style: solid;
  border-color: $alert-danger-border !important;
  border-radius: $input-border-radius;
  background-color: $alert-danger-bg;
  color: $alert-danger-text;
}

// Make error messages visually extend text-based input fields

// The text-based input fields
 .string.is-invalid,
textarea.is-invalid {
  @include border-bottom-radius(0);

  &:not(:focus) {
    border-color: $alert-danger-border;

    @include transition($input-transition);
  }
}

// The error messages for text-based input fields
.string  + .invalid-feedback,
textarea + .invalid-feedback {
  @include border-top-radius(0);
}

// Devise authentication form

.nm-devise-shared-links {
  font-family: $nm-sans-serif;
  // Justify the links horizontally
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
