@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500');
@import "bootstrap";
@import "font-awesome";

// General

body {
  background: image_url('light_wool.png');
  font-family: 'Vollkorn';
}

// Typography

.h1, .h2, .h3, .h4, .h5, .h6,
form, input,
.navbar,
.alert {
  font-family: 'Maven Pro';
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  // Use "em" to make properties proportional to the varying heading sizes
  letter-spacing: -.01em;
}

// Navigation

.navbar {
  background: image_url('stardust.png');
  box-shadow:
    // Upper-inner
    0 2px 3px hsla(243, 24%, 21%, 0.25) inset,
    0 15px 60px -10px hsla(243, 22%, 5%, 0.5) inset,
    // Lower-outer
    0 0 2px,
    0 0 20px;
}

.navbar-inverse .navbar-brand {
  color: hsl(242, 100%, 88%);
	text-shadow: 0 0 1px;
	font-size: 1.5rem;
}

.navbar-inverse .navbar-brand:hover {
	text-shadow: 0 0 3px;
}

// Main Content

.nm-main-content {
	overflow: auto; // Fix first child's top margin "sticking out"
}

// Place item

.nm-place-item {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  min-height: 18rem;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  background: #fff;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

// Pagination links
// Make the previous and next buttons stay on the same spot

.pagination {
  min-width: 15rem;
}

.page-item.disabled {
  flex-grow: 1;
  text-align: center;
}
