@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500');
@import "bootstrap-custom";
@import "bootstrap";
@import "font-awesome";

// Fonts
$nm-serif: 'Vollkorn';
$nm-sans-serif: 'Maven Pro';

// Layout
$nm-standard-spacer: 1.5rem;

// General

body {
  background: image_url('light_wool.png');
  font-family: $nm-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.01em; // "em" for proportional scaling
  font-family: $nm-sans-serif;
}

.btn {
  cursor: pointer;
  font-family: $nm-sans-serif;
}

// Navigation

.navbar {
  background: image_url('stardust.png');
  box-shadow:
    // Upper-inner
    0 2px 3px hsla($nm-primary-hue, 24%, 21%, 0.25) inset,
    0 15px 60px -10px hsla($nm-primary-hue, 22%, 5%, 0.5) inset,
    // Lower-outer
    0 0 2px,
    0 0 20px;
  font-family: $nm-sans-serif;
}

.navbar-inverse .navbar-brand {
  color: hsl($nm-primary-hue, 100%, 88%);
	text-shadow: 0 0 1px;
	font-size: 1.5rem;

  &:hover {
  	text-shadow: 0 0 3px;
  }
}

.navbar-inverse .nav-link {
	color: hsla(0, 0%, 100%, 0.5);
}

// Main Content

// .nm-main-content {}


//========
// Modules

// Alert

.alert {
  font-family: $nm-sans-serif;
}

// Modal

.modal-content {
  box-shadow: 0 0 30px hsla(0, 0%, 0%, 0.2);
}

.modal-backdrop {
	background: hsl($nm-primary-hue, 36%, 70%);
}

.modal-backdrop.show {
	opacity: 0.95;
}

// Section box

.nm-section-box {
  margin: 1rem auto;
  padding: 1.5rem;
  min-height: 18rem;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  background: #fff;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

// Place item

.nm-place-item { @extend .nm-section-box ; }

// Pagination links
// Make the previous and next buttons stay on the same spot

.pagination {
  min-width: 15rem;
}

.page-item.disabled {
  flex-grow: 1;
  text-align: center;
}

// Place single view

.nm-place-footer {
  margin-top: $nm-standard-spacer;
}

#nm-google-map {
  width: 100%;
  height: 300px;
	box-shadow: 0 0 1px;

  @include border-radius;
}

// Forms

form, input {
  font-family: $nm-sans-serif;
}

abbr[title="required"] {
  // Undo unnecessary decorations to the "required" asterisk
	cursor: inherit;
	text-decoration: inherit;
}

// Comments

.nm-comments {
	margin: $nm-standard-spacer auto;
  padding: $nm-standard-spacer 0;
}

// New Comment modal and form

.nm-new-comment-modal-rating {
  float: left;

  & select {
    width: 9rem;
  }
}

.nm-new-comment-modal-footer {
  float: right;
  border: none;
}

// Comment item

.nm-comment-item {
  position: relative;
  margin: $nm-standard-spacer 0;
  padding: 1rem $nm-standard-spacer;
  border-left: 10px solid hsl($nm-primary-hue, 100%, 88%);
  border-radius: 4px;
  background: hsla($nm-primary-hue, 100%, 50%, 0.04);
  box-shadow:  0 0 3px hsl($nm-primary-hue, 100%, 88%);
  quotes: '\201C' '\201D' '\2018' '\2019';
}

.nm-comment-item:last-of-type {
  margin-bottom: 0;
}

.nm-comment-item::before,
.nm-comment-item::after {
  position: absolute;
  z-index: -1;
  color: hsla($nm-primary-hue, 100%, 50%, 0.06);
  font-size: 11em;
  line-height: 1;
}

.nm-comment-item::before {
  top: -0.5rem;
  left: 0.2rem;
  margin-top: -0.3rem;
  content: open-quote;
}

.nm-comment-item::after {
  right: 0.2rem;
  bottom: -0.5rem;
  height: 3rem;
  content: close-quote;
}

.nm-comment-rating::after {
	content: ' \2014';
}

.nm-comment-email {
  margin-bottom: 0;
}

.nm-comment-email::before {
	content: '\2014  '
}

// Forms in Devise views

.nm-devise-view { @extend .nm-section-box ; }

.nm-devise-view {
  width: 24rem;
  max-width: 100%;

  & > h2,
  & .simple_form {
    margin-bottom: $nm-standard-spacer;
  }

}

.form-actions {
  margin-top: .5rem;
}

// Error messages

.invalid-feedback {
  // Override small font size (80%) set by Bootstrap
  font-size: inherit;
}

// Devise authentication form

.nm-devise-shared-links {
  font-family: $nm-sans-serif;
  // Justify the links horizontally
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
