<div class="nm-place-footer">
  <%= render 'photo_new' %>
  <%# Display Edit and Remove links only if the user is logged-in
       and is the author of this Place %>
  <% if current_user && current_user == @place.user %>
    <%= link_to 'Edit Place', edit_place_path(@place), class: 'btn btn-outline-primary' %>
  <% else %>
      <div class="nm-place-footer--credit">Place submitted by: <%= @place.user.email %></div>
  <% end %>
</div>
