<% slider_id = "nm_photo_slider_#{@place['id']}" %>

<div class="nm-photo-slider-outer">
  <i class="nm-slider-fullscreen-toggle fa fa-sort"></i>
  <div class="nm-photo-slider-inner" id="<%= slider_id %>">
    <% @place.photos.each do |photo| %>
      <%= render 'photo_slider_item', place: @place, photo: photo %>
    <% end %>
  </div>
</div>

<script>
  jQuery(function() { nm_initSlider('<%= slider_id %>') })
</script>
