<% @places.each do |place| %>
	<div class="place-item col-sm-10 ml-auto mr-auto">
		<h1><%= place.name %></h1>
		<i><%= place.address %></i><br /><br />
		<p><%= place.description %></p><br />
	</div>
<% end %>

<div class="d-flex justify-content-center">
	<% window_addition = (@places.first_page? || @places.last_page?) ? 1 : 0 %>
	<%= paginate @places, window: 0, outer_window: 1 + window_addition %>
</div>
