<div class="nm-place-item col-sm-10">
  <h1>
    <%= @place.name %>
  </h1>
  <p class="font-italic">
    <%= @place.address %>
  </p>
  <p>
    <%= @place.description %>
  </p>

  <% if @place.user.present? %>
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
  <% end %>
</div>
