<div class="nm-place-item col-sm-10">
  <h1>
    <%= @place.name %>
  </h1>
  <p class="font-italic">
    <%= @place.address %>
  </p>
  <p>
    <%= @place.description %>
  </p>


  <%= render 'footer' %>

</div>
